

1 의미 찾아보려고 분석 시도 했는데 R => 0.1


[2:57] 
2 아무리 찾아도 관계 없어서 반박하려고 그림 그리고 변수 제거 했더니 R => 0.3


[2:57] 
2.+. 관련해서 변수를 제거해나가는 과정에 따른 코릴레이션 heatmap 변화 )


[2:58] 
3. t값 낮은 변수와, w값 비정상인 변수 없애 가면서 f-statistics 와 cond num 잡는 과정.


[2:58] 
4. 교차검증.


[2:58] 
5. 추가 변형에 따른 비선형 관계 확인.


[2:59] 
6. 사실 그레이드랑.. 잘맞... ?(?(


[2:59] 
요정도 내용들을 플로우 짜서 가야할듯 해요.

In [1]:
#dfData3 = pd.read_csv('~/hosthome/Documents/workspaces/projects/fc_team_project2/datasets/lcdf3.csv')
df0 = pd.read_csv("~/hosthome/Documents/workspaces/projects/fc_team_project2/datasets/lcdf4.csv")

# 데이터 소개

# 모델 생성 작업

In [4]:
df0corr = df0.corr()

In [5]:
df0corr[(df0corr >= 0.8) | (df0corr <= -0.8)].fillna('').head()

,Unnamed: 0,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
Unnamed: 0,1,,,,,,,,,,...,,,,,,,,,,
loan_amnt,,1,,0.950004,,,,,,,...,,,,,,,,,,
int_rate,,,1,,,,,,,,...,,,,,,,,,,
installment,,0.950004,,1,,,,,,,...,,,,,,,,,,
annual_inc,,,,,1,,,,,,...,,,,,,,,,,

In [6]:
df0.drop(['out_prncp', 'out_prncp_inv', 'total_pymnt', 
             'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 
             'total_rec_int', 'total_rec_late_fee', 'recoveries', 
             'collection_recovery_fee', 'collections_12_mths_ex_med'], 
            axis=1, inplace=True)

In [7]:
df0corr = df0.corr()

In [8]:
df0corr[(df0corr >= 0.8) | (df0corr <= -0.8)].fillna('').head()

,Unnamed: 0,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
Unnamed: 0,1,,,,,,,,,,...,,,,,,,,,,
loan_amnt,,1,,0.950004,,,,,,,...,,,,,,,,,,
int_rate,,,1,,,,,,,,...,,,,,,,,,,
installment,,0.950004,,1,,,,,,,...,,,,,,,,,,
annual_inc,,,,,1,,,,,,...,,,,,,,,,,

In [9]:
df1 = df0.drop(['loan_amnt', 'mths_since_last_delinq', 
                     'mths_since_last_record', 'last_pymnt_amnt', 
                     'open_acc', 'revol_util', 'revol_bal', 
                     'acc_now_delinq', 'tot_cur_bal', 'total_bal_il', 
                     'open_rv_12m' ,'open_rv_24m', 'bc_open_to_buy', 
                     'bc_util', 'mths_since_recent_bc_dlq', 
                     'num_actv_bc_tl', 'num_bc_tl', 'num_op_rev_tl', 
                     'total_bal_ex_mort', 'num_actv_rev_tl'], 
                    axis=1)

In [10]:
df1.corr()[(df1.corr() >= 0.8) | (df1.corr() <= -0.8)].head()

,Unnamed: 0,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,pub_rec,total_acc,mths_since_last_major_derog,...,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bc_limit,total_il_high_credit_limit
Unnamed: 0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
int_rate,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
installment,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
annual_inc,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
dti,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df1['const'] = 1
df1.head()

,Unnamed: 0,term,int_rate,installment,sub_grade,home_ownership,annual_inc,pymnt_plan,dti,delinq_2yrs,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bc_limit,total_il_high_credit_limit,const
0,0,60 months,0.172575,0.198015,B3,OWN,0.012019,n,0.358136,1,...,0,5,0.946,16.7,0,0,0.015805,0.022614,0.019098,1
1,1,36 months,0.080639,0.100477,A4,MORTGAGE,0.007002,n,0.284948,0,...,0,1,1.000,0.0,0,0,0.004265,0.008503,0.011069,1
2,2,36 months,0.503701,0.111881,D3,MORTGAGE,0.005051,n,0.280800,0,...,0,4,0.846,0.0,0,0,0.019800,0.002352,0.003852,1
3,3,36 months,0.211531,0.106517,B4,RENT,0.003135,n,0.526470,0,...,0,3,1.000,100.0,0,0,0.003113,0.001900,0.014363,1
4,4,36 months,0.119595,0.183338,B1,RENT,0.004494,n,0.746036,0,...,0,1,1.000,0.0,0,0,0.005932,0.005246,0.024103,1

In [13]:
df2 = df1.dropna(axis=0)

In [14]:
df2cat = df2[['term', 'sub_grade', 'home_ownership', 
              'pymnt_plan', 'application_type', 'policy_code']]
df2y = df2[['int_rate']]
df2X = df2.drop(['term', 'sub_grade', 'home_ownership', 'pymnt_plan', 
                 'application_type', 'policy_code', 'int_rate'], 
                axis=1)

In [15]:
rs1 = sm.OLS(df2y, df2X).fit()
print(rs1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.322
Model:                            OLS   Adj. R-squared:                  0.322
Method:                 Least Squares   F-statistic:                     572.8
Date:                Wed, 12 Jul 2017   Prob (F-statistic):               0.00
Time:                        11:35:07   Log-Likelihood:                 27659.
No. Observations:               61490   AIC:                        -5.521e+04
Df Residuals:                   61438   BIC:                        -5.474e+04
Df Model:                          51
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Unnamed: 0                       1.75e-07    5.3e-09     33.003      0.000    1.65e-07    1.85e-07
installment                        0.3856      0.004     93.864      0.000       0.378       0.394
annual_inc                        -1.0502      0.108     -9.764      0.000      -1.261      -0.839
dti                                0.2018      0.004     50.475      0.000       0.194       0.210
delinq_2yrs                        0.0083      0.001     10.767      0.000       0.007       0.010
inq_last_6mths                     0.1086      0.004     24.530      0.000       0.100       0.117
pub_rec                            0.0025      0.002      1.372      0.170      -0.001       0.006
total_acc                         -0.0014      0.001     -1.538      0.124      -0.003       0.000
mths_since_last_major_derog       -0.0002   3.81e-05     -4.675      0.000      -0.000      -0.000
tot_coll_amt                       0.1529      0.044      3.511      0.000       0.068       0.238
open_acc_6m                        0.0424      0.014      3.081      0.002       0.015       0.069
open_il_6m                        -0.0018      0.021     -0.085      0.932      -0.044       0.040
open_il_12m                        0.4282      0.028     15.254      0.000       0.373       0.483
open_il_24m                       -0.2494      0.038     -6.602      0.000      -0.323      -0.175
mths_since_rcnt_il                 0.0002   4.27e-05      3.575      0.000     6.9e-05       0.000
il_util                            0.0003   4.93e-05      6.057      0.000       0.000       0.000
max_bal_bc                        -0.8146      0.187     -4.350      0.000      -1.182      -0.448
all_util                           0.2126      0.014     14.997      0.000       0.185       0.240
total_rev_hi_lim                  -0.2824      0.058     -4.902      0.000      -0.395      -0.169
inq_fi                             0.0583      0.021      2.746      0.006       0.017       0.100
total_cu_tl                       -0.2154      0.026     -8.305      0.000      -0.266      -0.165
inq_last_12m                       0.1030      0.016      6.340      0.000       0.071       0.135
acc_open_past_24mths               0.0079      0.000     20.329      0.000       0.007       0.009
avg_cur_bal                       -0.0200      0.066     -0.301      0.763      -0.150       0.110
chargeoff_within_12_mths           0.0003      0.003      0.092      0.926      -0.006       0.006
delinq_amnt                     1.325e-06   4.15e-07      3.192      0.001    5.11e-07    2.14e-06
mo_sin_old_il_acct                -0.0921      0.009    -10.122      0.000      -0.110      -0.074
mo_sin_old_rev_tl_op              -0.1458      0.007    -20.980      0.000      -0.159      -0.132
mo_sin_rcnt_rev_tl_op             -0.0001   6.01e-05     -2.241      0.025      -0.000   -1.69e-05
mo_sin_rcnt_tl                     0.0003      0.000      1.943      0.052   -2.52e-06       0.001
mort_acc                          -0.0026      0.001     -2.685      0.007      -0.004      -0.001
mths_since_recent_bc              -0.0002   2.41e-05     -9.655      0.000      -0.000      -0.000
mths_since_recent_inq             -0.0013      0.000     -9.409      0.000      -0.002      -0.001
mths_since_recent_revol_delinq    -0.0002   3.67e-05     -6.266      0.000      -0.000      -0.000
num_accts_ever_120_pd              0.0010      0.000      2.597      0.009       0.000       0.002
num_bc_sats                        0.0031      0.000      6.671      0.000       0.002       0.004
num_il_tl                          0.0002      0.001      0.184      0.854      -0.002       0.002
num_rev_accts                     -0.0010      0.001     -1.095      0.273      -0.003       0.001
num_rev_tl_bal_gt_0               -0.0001      0.000     -0.288      0.773      -0.001       0.001
num_sats                          -0.0020      0.000     -5.641      0.000      -0.003      -0.001
num_tl_120dpd_2m                   0.0271      0.011      2.388      0.017       0.005       0.049
num_tl_30dpd                       0.0605      0.008      7.326      0.000       0.044       0.077
num_tl_90g_dpd_24m                -0.0033      0.001     -2.907      0.004      -0.006      -0.001
num_tl_op_past_12m                 0.0074      0.001     11.129      0.000       0.006       0.009
pct_tl_nvr_dlq                     0.0178      0.008      2.275      0.023       0.002       0.033
percent_bc_gt_75                   0.0006   2.15e-05     27.927      0.000       0.001       0.001
pub_rec_bankruptcies               0.0119      0.002      4.773      0.000       0.007       0.017
tax_liens                         -0.0021      0.002     -0.905      0.366      -0.007       0.002
tot_hi_cred_lim                   -0.3517      0.082     -4.305      0.000      -0.512      -0.192
total_bc_limit                    -1.6880      0.100    -16.928      0.000      -1.883      -1.493
total_il_high_credit_limit        -0.5950      0.040    -14.929      0.000      -0.673      -0.517
const                              0.0737      0.008      8.998      0.000       0.058       0.090
==============================================================================
Omnibus:                     6012.412   Durbin-Watson:                   1.906
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8138.426
Skew:                           0.809   Prob(JB):                         0.00
Kurtosis:                       3.746   Cond. No.                     7.60e+07
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 7.6e+07. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
rs2 = sm.OLS.from_formula('int_rate ~ installment + annual_inc + ' +
                          'dti + delinq_2yrs + inq_last_6mths + total_acc + ' +
                          'mths_since_last_major_derog + open_acc_6m + open_il_12m + ' +
                          'open_il_24m + mths_since_rcnt_il + il_util + max_bal_bc + ' +
                          'all_util + total_rev_hi_lim + inq_fi + total_cu_tl + ' +
                          'inq_last_12m + acc_open_past_24mths + delinq_amnt + ' +
                          'mo_sin_old_il_acct + mo_sin_old_rev_tl_op + mort_acc + ' +
                          'mths_since_recent_bc + mths_since_recent_inq + ' +
                          'mths_since_recent_revol_delinq + num_accts_ever_120_pd + ' +
                          'num_bc_sats + num_sats + num_tl_30dpd + num_tl_90g_dpd_24m + ' +
                          'num_tl_op_past_12m + percent_bc_gt_75 + pub_rec_bankruptcies + ' +
                          'tot_hi_cred_lim + total_bc_limit + total_il_high_credit_limit', df2).fit()
print(rs2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.309
Model:                            OLS   Adj. R-squared:                  0.309
Method:                 Least Squares   F-statistic:                     743.3
Date:                Wed, 12 Jul 2017   Prob (F-statistic):               0.00
Time:                        11:35:18   Log-Likelihood:                 27072.
No. Observations:               61490   AIC:                        -5.407e+04
Df Residuals:                   61452   BIC:                        -5.373e+04
Df Model:                          37
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                          0.1282      0.005     26.331      0.000       0.119       0.138
installment                        0.3800      0.004     91.952      0.000       0.372       0.388
annual_inc                        -1.0784      0.108     -9.992      0.000      -1.290      -0.867
dti                                0.1956      0.004     49.475      0.000       0.188       0.203
delinq_2yrs                        0.0078      0.001     10.481      0.000       0.006       0.009
inq_last_6mths                     0.1082      0.004     24.249      0.000       0.099       0.117
total_acc                         -0.0018   8.95e-05    -19.821      0.000      -0.002      -0.002
mths_since_last_major_derog       -0.0002   3.81e-05     -4.844      0.000      -0.000      -0.000
open_acc_6m                        0.0327      0.013      2.451      0.014       0.007       0.059
open_il_12m                        0.3772      0.028     13.404      0.000       0.322       0.432
open_il_24m                       -0.1497      0.037     -4.065      0.000      -0.222      -0.078
mths_since_rcnt_il                 0.0002    4.2e-05      3.798      0.000    7.72e-05       0.000
il_util                            0.0003   4.86e-05      5.943      0.000       0.000       0.000
max_bal_bc                        -0.8400      0.188     -4.477      0.000      -1.208      -0.472
all_util                           0.2190      0.013     16.570      0.000       0.193       0.245
total_rev_hi_lim                  -0.3397      0.057     -5.931      0.000      -0.452      -0.227
inq_fi                             0.0636      0.021      2.971      0.003       0.022       0.106
total_cu_tl                       -0.2003      0.026     -7.703      0.000      -0.251      -0.149
inq_last_12m                       0.0987      0.016      6.025      0.000       0.067       0.131
acc_open_past_24mths               0.0076      0.000     19.909      0.000       0.007       0.008
delinq_amnt                     1.682e-06   3.89e-07      4.328      0.000     9.2e-07    2.44e-06
mo_sin_old_il_acct                -0.0794      0.009     -8.818      0.000      -0.097      -0.062
mo_sin_old_rev_tl_op              -0.1574      0.007    -23.599      0.000      -0.170      -0.144
mort_acc                          -0.0029      0.000     -7.116      0.000      -0.004      -0.002
mths_since_recent_bc              -0.0002   2.13e-05    -11.733      0.000      -0.000      -0.000
mths_since_recent_inq             -0.0013      0.000     -9.431      0.000      -0.002      -0.001
mths_since_recent_revol_delinq    -0.0002   3.68e-05     -5.957      0.000      -0.000      -0.000
num_accts_ever_120_pd              0.0009      0.000      2.734      0.006       0.000       0.001
num_bc_sats                        0.0024      0.000      5.818      0.000       0.002       0.003
num_sats                          -0.0020      0.000     -9.538      0.000      -0.002      -0.002
num_tl_30dpd                       0.0587      0.008      7.046      0.000       0.042       0.075
num_tl_90g_dpd_24m                -0.0028      0.001     -2.500      0.012      -0.005      -0.001
num_tl_op_past_12m                 0.0075      0.001     11.276      0.000       0.006       0.009
percent_bc_gt_75                   0.0006   2.13e-05     27.904      0.000       0.001       0.001
pub_rec_bankruptcies               0.0124      0.002      6.945      0.000       0.009       0.016
tot_hi_cred_lim                   -0.3363      0.049     -6.833      0.000      -0.433      -0.240
total_bc_limit                    -1.6110      0.098    -16.418      0.000      -1.803      -1.419
total_il_high_credit_limit        -0.4932      0.038    -13.119      0.000      -0.567      -0.419
==============================================================================
Omnibus:                     6137.968   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8413.064
Skew:                           0.814   Prob(JB):                         0.00
Kurtosis:                       3.798   Cond. No.                     5.12e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.12e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [17]:
rs3 = sm.OLS.from_formula('int_rate ~ sub_grade + 0', df2).fit()
print(rs3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               int_rate   R-squared:                       0.981
Model:                            OLS   Adj. R-squared:                  0.981
Method:                 Least Squares   F-statistic:                 9.244e+04
Date:                Wed, 12 Jul 2017   Prob (F-statistic):               0.00
Time:                        11:36:56   Log-Likelihood:             1.3726e+05
No. Observations:               61490   AIC:                        -2.745e+05
Df Residuals:                   61455   BIC:                        -2.741e+05
Df Model:                          34
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
sub_grade[A1]          0      0.001          0      1.000      -0.001       0.001
sub_grade[A2]     0.0529      0.001     58.629      0.000       0.051       0.055
sub_grade[A3]     0.0719      0.001     85.040      0.000       0.070       0.074
sub_grade[A4]     0.0854      0.001    129.351      0.000       0.084       0.087
sub_grade[A5]     0.1076      0.001    175.294      0.000       0.106       0.109
sub_grade[B1]     0.1254      0.000    278.663      0.000       0.125       0.126
sub_grade[B2]     0.1623      0.000    365.323      0.000       0.161       0.163
sub_grade[B3]     0.1923      0.000    446.482      0.000       0.191       0.193
sub_grade[B4]     0.2196      0.000    551.271      0.000       0.219       0.220
sub_grade[B5]     0.2400      0.000    641.650      0.000       0.239       0.241
sub_grade[C1]     0.2768      0.000    744.222      0.000       0.276       0.278
sub_grade[C2]     0.3089      0.000    762.438      0.000       0.308       0.310
sub_grade[C3]     0.3312      0.000    795.778      0.000       0.330       0.332
sub_grade[C4]     0.3590      0.000    873.573      0.000       0.358       0.360
sub_grade[C5]     0.3974      0.000    920.721      0.000       0.397       0.398
sub_grade[D1]     0.4397      0.001    818.108      0.000       0.439       0.441
sub_grade[D2]     0.4804      0.001    883.652      0.000       0.479       0.481
sub_grade[D3]     0.5175      0.001    826.315      0.000       0.516       0.519
sub_grade[D4]     0.5503      0.001    842.401      0.000       0.549       0.552
sub_grade[D5]     0.5914      0.001    836.231      0.000       0.590       0.593
sub_grade[E1]     0.6217      0.001    824.519      0.000       0.620       0.623
sub_grade[E2]     0.6464      0.001    703.654      0.000       0.645       0.648
sub_grade[E3]     0.6819      0.001    768.742      0.000       0.680       0.684
sub_grade[E4]     0.7066      0.001    707.002      0.000       0.705       0.709
sub_grade[E5]     0.7253      0.001    674.447      0.000       0.723       0.727
sub_grade[F1]     0.7535      0.001    641.705      0.000       0.751       0.756
sub_grade[F2]     0.7962      0.001    572.014      0.000       0.793       0.799
sub_grade[F3]     0.8128      0.002    497.884      0.000       0.810       0.816
sub_grade[F4]     0.8336      0.002    491.115      0.000       0.830       0.837
sub_grade[F5]     0.8657      0.002    454.714      0.000       0.862       0.869
sub_grade[G1]     0.8858      0.003    351.219      0.000       0.881       0.891
sub_grade[G2]     0.9140      0.002    365.813      0.000       0.909       0.919
sub_grade[G3]     0.9174      0.003    325.730      0.000       0.912       0.923
sub_grade[G4]     0.9344      0.003    276.401      0.000       0.928       0.941
sub_grade[G5]     0.9601      0.004    236.754      0.000       0.952       0.968
==============================================================================
Omnibus:                    43800.490   Durbin-Watson:                   1.237
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         15220249.222
Skew:                          -2.301   Prob(JB):                         0.00
Kurtosis:                      79.938   Cond. No.                         10.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [19]:
sm.stats.anova_lm(rs2)

,df,sum_sq,mean_sq,F,PR(>F)
installment,1.0,126.802431,126.802431,5220.897609,0.000000e+00
annual_inc,1.0,49.473150,49.473150,2036.981824,0.000000e+00
dti,1.0,63.686465,63.686465,2622.193491,0.000000e+00
delinq_2yrs,1.0,2.395700,2.395700,98.639316,3.154147e-23
inq_last_6mths,1.0,78.768845,78.768845,3243.187606,0.000000e+00
total_acc,1.0,27.373908,27.373908,1127.079106,7.156787e-245
mths_since_last_major_derog,1.0,0.681312,0.681312,28.051968,1.185062e-07
open_acc_6m,1.0,39.653425,39.653425,1632.669567,0.000000e+00
open_il_12m,1.0,55.468301,55.468301,2283.823092,0.000000e+00
open_il_24m,1.0,4.494058,4.494058,185.036018,4.435651e-42
mths_since_rcnt_il,1.0,0.059053,0.059053,2.431410,1.189310e-01
il_util,1.0,26.099204,26.099204,1074.595093,1.150973e-233
max_bal_bc,1.0,16.847271,16.847271,693.660815,5.016803e-152
all_util,1.0,36.988904,36.988904,1522.961979,0.000000e+00
total_rev_hi_lim,1.0,10.020000,10.020000,412.558296,2.032755e-91
inq_fi,1.0,2.922901,2.922901,120.345998,5.641113e-28
total_cu_tl,1.0,1.302233,1.302233,53.617466,2.465547e-13
inq_last_12m,1.0,7.006394,7.006394,288.477633,1.499195e-64
acc_open_past_24mths,1.0,44.575803,44.575803,1835.341027,0.000000e+00
delinq_amnt,1.0,0.197847,0.197847,8.146038,4.316977e-03
mo_sin_old_il_acct,1.0,2.725407,2.725407,112.214507,3.378101e-26
mo_sin_old_rev_tl_op,1.0,11.988085,11.988085,493.591200,6.343198e-109
mort_acc,1.0,2.008347,2.008347,82.690643,9.872460e-20
mths_since_recent_bc,1.0,2.352361,2.352361,96.854904,7.755814e-23
mths_since_recent_inq,1.0,1.901860,1.901860,78.306182,9.052966e-19
mths_since_recent_revol_delinq,1.0,1.072636,1.072636,44.164148,3.044742e-11
num_accts_ever_120_pd,1.0,0.186955,0.186955,7.697597,5.531108e-03
num_bc_sats,1.0,2.003787,2.003787,82.502896,1.085478e-19
num_sats,1.0,3.244175,3.244175,133.573996,7.288017e-31
num_tl_30dpd,1.0,0.909676,0.909676,37.454540,9.413229e-10
num_tl_90g_dpd_24m,1.0,0.172707,0.172707,7.110953,7.663445e-03
num_tl_op_past_12m,1.0,2.853038,2.853038,117.469506,2.398496e-27
percent_bc_gt_75,1.0,24.579381,24.579381,1012.018713,2.724554e-220
pub_rec_bankruptcies,1.0,1.619849,1.619849,66.694823,3.229243e-16
tot_hi_cred_lim,1.0,3.557804,3.557804,146.487192,1.109694e-33
total_bc_limit,1.0,7.821050,7.821050,322.019863,8.028662e-72
total_il_high_credit_limit,1.0,4.179765,4.179765,172.095475,2.913031e-39
Residual,61452.0,1492.514046,0.024287,NaN,NaN

In [22]:
df2['lograte'] = df2.int_rate.map(np.log)

/home/dockeruser/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [24]:
rs2 = sm.OLS.from_formula('lograte ~ installment + annual_inc + dti + ' +
                          'delinq_2yrs + inq_last_6mths + total_acc + ' +
                          'mths_since_last_major_derog + open_acc_6m + open_il_12m + ' +
                          'open_il_24m + il_util + max_bal_bc + all_util + ' + 
                          'total_rev_hi_lim + inq_fi + total_cu_tl + inq_last_12m + ' +
                          'acc_open_past_24mths + delinq_amnt + mo_sin_old_il_acct + ' +
                          'mo_sin_old_rev_tl_op + mort_acc + mths_since_recent_bc + ' +
                          'mths_since_recent_inq + mths_since_recent_revol_delinq + ' +
                          'num_accts_ever_120_pd + num_bc_sats + num_sats + num_tl_30dpd + ' +
                          'num_tl_90g_dpd_24m + num_tl_op_past_12m + percent_bc_gt_75 + ' +
                          'pub_rec_bankruptcies + tot_hi_cred_lim + total_bc_limit + ' +
                          'total_il_high_credit_limit', df2).fit()
print(rs2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                lograte   R-squared:                         nan
Model:                            OLS   Adj. R-squared:                    nan
Method:                 Least Squares   F-statistic:                       nan
Date:                Wed, 12 Jul 2017   Prob (F-statistic):                nan
Time:                        11:38:35   Log-Likelihood:                    nan
No. Observations:               61490   AIC:                               nan
Df Residuals:                   61453   BIC:                               nan
Df Model:                          36
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                             nan        nan        nan        nan         nan         nan
installment                           nan        nan        nan        nan         nan         nan
annual_inc                            nan        nan        nan        nan         nan         nan
dti                                   nan        nan        nan        nan         nan         nan
delinq_2yrs                           nan        nan        nan        nan         nan         nan
inq_last_6mths                        nan        nan        nan        nan         nan         nan
total_acc                             nan        nan        nan        nan         nan         nan
mths_since_last_major_derog           nan        nan        nan        nan         nan         nan
open_acc_6m                           nan        nan        nan        nan         nan         nan
open_il_12m                           nan        nan        nan        nan         nan         nan
open_il_24m                           nan        nan        nan        nan         nan         nan
il_util                               nan        nan        nan        nan         nan         nan
max_bal_bc                            nan        nan        nan        nan         nan         nan
all_util                              nan        nan        nan        nan         nan         nan
total_rev_hi_lim                      nan        nan        nan        nan         nan         nan
inq_fi                                nan        nan        nan        nan         nan         nan
total_cu_tl                           nan        nan        nan        nan         nan         nan
inq_last_12m                          nan        nan        nan        nan         nan         nan
acc_open_past_24mths                  nan        nan        nan        nan         nan         nan
delinq_amnt                           nan        nan        nan        nan         nan         nan
mo_sin_old_il_acct                    nan        nan        nan        nan         nan         nan
mo_sin_old_rev_tl_op                  nan        nan        nan        nan         nan         nan
mort_acc                              nan        nan        nan        nan         nan         nan
mths_since_recent_bc                  nan        nan        nan        nan         nan         nan
mths_since_recent_inq                 nan        nan        nan        nan         nan         nan
mths_since_recent_revol_delinq        nan        nan        nan        nan         nan         nan
num_accts_ever_120_pd                 nan        nan        nan        nan         nan         nan
num_bc_sats                           nan        nan        nan        nan         nan         nan
num_sats                              nan        nan        nan        nan         nan         nan
num_tl_30dpd                          nan        nan        nan        nan         nan         nan
num_tl_90g_dpd_24m                    nan        nan        nan        nan         nan         nan
num_tl_op_past_12m                    nan        nan        nan        nan         nan         nan
percent_bc_gt_75                      nan        nan        nan        nan         nan         nan
pub_rec_bankruptcies                  nan        nan        nan        nan         nan         nan
tot_hi_cred_lim                       nan        nan        nan        nan         nan         nan
total_bc_limit                        nan        nan        nan        nan         nan         nan
total_il_high_credit_limit            nan        nan        nan        nan         nan         nan
==============================================================================
Omnibus:                          nan   Durbin-Watson:                     nan
Prob(Omnibus):                    nan   Jarque-Bera (JB):                  nan
Skew:                             nan   Prob(JB):                          nan
Kurtosis:                         nan   Cond. No.                     5.12e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.12e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

/home/dockeruser/anaconda2/lib/python2.7/site-packages/statsmodels/regression/linear_model.py:1366: RuntimeWarning: invalid value encountered in subtract
  weights=weights))**2)

In [30]:
a = 'installment + annual_inc + dti + delinq_2yrs + inq_last_6mths + ',
'total_acc + mths_since_last_major_derog + open_acc_6m + open_il_12m + ',
'open_il_24m + mths_since_rcnt_il + il_util + max_bal_bc + all_util + ',
'total_rev_hi_lim + inq_fi + total_cu_tl + inq_last_12m + acc_open_past_24mths + ',
'delinq_amnt + mo_sin_old_il_acct + mo_sin_old_rev_tl_op + mort_acc + ',
'mths_since_recent_bc + mths_since_recent_inq + mths_since_recent_revol_delinq + ',
'num_accts_ever_120_pd + num_bc_sats + num_sats + num_tl_30dpd + num_tl_90g_dpd_24m + ',
'num_tl_op_past_12m + percent_bc_gt_75 + pub_rec_bankruptcies + tot_hi_cred_lim + ',
'total_bc_limit + total_il_high_credit_limit'.split(' + ')
df3X = df2[a]
df3y = df2.int_rate
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
cross_val_score(LinearRegression(), df3X, df3y, scoring="neg_mean_squared_error", cv=10)

KeyError: ('installment + annual_inc + dti + delinq_2yrs + inq_last_6mths + ',)